//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #8f97a5;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDark !default;


// Links
// -------------------------
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15%) !default;


// Typography
// -------------------------
$sansFontFamily:        'Proxima Nova', 'proximanova', 'Open Sans', sans-serif;
$serifFontFamily:       Georgia, sans-serif;
//$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          16px;
//$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        $baseFontSize*1.6;
//$altFontFamily:         $serifFontFamily !default;

//$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
//$headingsFontWeight:    bold !default;    // instead of browser default, bold
//$headingsColor:         inherit !default; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px !default; // 44px
$paddingSmall:          2px 10px !default;  // 26px
$paddingMini:           0px 6px !default;   // 22px

$baseBorderRadius:      4px !default;
$borderRadiusLarge:     6px !default;
$borderRadiusSmall:     3px !default;


// Tables
// -------------------------
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border

// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #ccc !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;


// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   #ccc !default;
$inputBorderRadius:             $baseBorderRadius !default;
$inputDisabledBackground:       $grayLighter !default;
$formActionsBackground:         #f5f5f5 !default;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownDividerTop:            #e5e5e5 !default;
$dropdownDividerBottom:         $white !default;

$dropdownLinkColor:             $grayDark !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkColorActive:       $white !default;

$dropdownLinkBackgroundActive:  $linkColor !default;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive !default;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1030 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;


// Sprite icons path
// -------------------------
$iconSpritePath:          image-path("glyphicons-halflings.png") !default;
$iconWhiteSpritePath:     image-path("glyphicons-halflings-white.png") !default;


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter !default;


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px !default;


// Wells
// -------------------------
$wellBackground:                  #f5f5f5 !default;


// Navbar
// -------------------------
$navbarCollapseWidth:             979px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px !default;
$navbarBackgroundHighlight:       #ffffff !default;
$navbarBackground:                #29313f;
$navbarBorder:                    darken($navbarBackground, 12%) !default;

$navbarText:                      #777 !default;
$navbarLinkColor:                 #777 !default;
$navbarLinkColorHover:            $grayDark !default;
$navbarLinkColorActive:           $gray !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;

$navbarBrandColor:                $navbarLinkColor !default;

// Inverted navbar
$navbarInverseBackground:                #29313f;
$navbarInverseBackgroundHighlight:       #222222 !default;
$navbarInverseBorder:                    #29313f;

//$navbarInverseText:                      $grayLight !default;
$navbarInverseLinkColor:                 $grayLight !default;
$navbarInverseLinkColorHover:            $white !default;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
$navbarInverseLinkBackgroundHover:       transparent !default;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
$navbarInverseSearchBackgroundFocus:     $white !default;
$navbarInverseSearchBorder:              $navbarInverseBackground !default;
$navbarInverseSearchPlaceholderColor:    #ccc !default;

$navbarInverseBrandColor:                $navbarInverseLinkColor !default;


// Pagination
// -------------------------
$paginationBackground:                #fff !default;
$paginationBorder:                    #ddd !default;
$paginationActiveBackground:          #f5f5f5 !default;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter !default;
$heroUnitHeadingColor:            inherit !default;
$heroUnitLeadColor:               inherit !default;


// Form states and alerts
// -------------------------
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff !default;
$tooltipBackground:       #000 !default;
$tooltipArrowWidth:       5px !default;
$tooltipArrowColor:       $tooltipBackground !default;

$popoverBackground:       #fff !default;
$popoverArrowWidth:       10px !default;
$popoverArrowColor:       #fff !default;
$popoverTitleBackground:  darken($popoverBackground, 3%) !default;

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1 !default;
$popoverArrowOuterColor:  rgba(0,0,0,.25) !default;



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

// 1200px min
$gridColumnWidth1200:     70px !default;
$gridGutterWidth1200:     30px !default;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) !default;

// 768px-979px
$gridColumnWidth768:      42px !default;
$gridGutterWidth768:      20px !default;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth) !default;
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth) !default;

// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200) !default;
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200) !default;

// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768) !default;
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768) !default;

@font-face
{
	font-family: proximanova;
	src: url('fonts/ProximaNova-Regular.otf');
}

@font-face {
	font-family: proximanova;
	src: url('fonts/ProximaNova-Light.otf');
	font-weight:100;
}
$sansFontFamily:        'proximanova',"Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "bootstrap";
@import "bootstrap-responsive";

@font-face
{
	font-family: proximanova;
	src: url('fonts/ProximaNova-Regular.otf');
}

@font-face {
	font-family: proximanova;
	src: url('fonts/ProximaNova-Light.otf');
	font-weight:100;
}

.brand{
  font-family: 'Ubuntu', sans-serif !important;
	font-size: 30px;
	float: left;
	font-style: italic;
	font-weight: 900;
	color: #FFF;
	display: inline-block;
	line-height: 20px;
	margin-top: 5px;
}

.thin {
  font-weight: 300;
}

#shah-header-wrapper h1, #shah-main-content-wrapper h1,
#shah-header-wrapper h3, #shah-main-content-wrapper h3,
#shah-header-wrapper h4, #shah-main-content-wrapper h4
{
	line-height:150%;
}

.navbar-inverse, .navbar-inner {
  background: #29313f;
  background-image: none!important;
}

#home_page {
  h1, h3, h4 {
    line-height: 150%;
  }
  h2, h5 {
	line-height: 125%;
  }
  //Testimonials
  .alert {
    h3 {
      font-weight: normal;
    }
    .author {
      .photo {
        @include border-radius(5px);
        border: 2px solid $white;
      }
      .author-meta {
        color: $black;
        .name {
          color: $black;
          font-weight: normal;
        }
      }
    }
  }
}

#shah-footer-wrapper a, #shah-header-wrapper a, .shah-button a {
	text-decoration: none;
	color: inherit;
}

.shah-container
{
	width:100%;
  min-width:1100px;
	margin:0 auto;
}

#shah-header-wrapper
{
	background: #29313f;
	position: relative;
	display: inline-block;
}

#shah-header
{
	margin-top: 30px;
	padding-top: 17px;
	line-height: 20px;
}

.shah-fluid-row
{
	width: 1000px;
	margin: 0 auto;
}


#shah-main-nav
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	float: right;
	margin-top: 15px;
	font-weight: bold;
	font-size: 12px;
}

#shah-main-nav li
{
	float: left;
	margin: 0px 15px;
}

#shah-header-content
{
	display:inline-block;
}

#shah-header-content-left
{
	width: 48%;
	min-width: 256px;
	color: #FFF;
	float: left;
	padding-right:2%;
}

#shah-header-content-right
{
	width: 500px;
	min-width: 256px;
	display: inline-block;
	border-top: 20px solid #cdcdcd;
	border-radius: 5px 5px 0px 0px;
	float:right;
}

#shah-header-content
{
	margin-top: 70px;
	width: 100%;
}

#shah-header-content-left h1
{
	font-size: 48px;
	font-weight: 300;
	margin: 10px 0px;
	line-height:110%;
}

#shah-header-content-left h4
{
	color: #8f97a5;
	font-weight: 300;
	font-size: 22px;
}

.shah-button
{
	color: #FFF;
	background: #eb3753;
	background: -webkit-gradient(linear, left top, left bottom, from(#eb3753), to(#b02147));
	background: -moz-linear-gradient(top, #eb3753, #b02147);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb3753', endColorstr='#b02147');
	border-radius: 30px;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 60px;
}

#shah-main-content ul
{
	list-style: none;
	margin-top: 70px;
	padding: 0px;
}

#shah-main-content ul li
{
	display: inline-block;
	width: 20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	float: left;
	text-align: center;
}

#shah-main-content ul li h5
{
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 25px;
}

#shah-main-content ul li p
{
	font-weight: 100;
	font-size: 14px;
	line-height: 150%;
	text-align: left;
}

#shah-quote
{
	background:#dbf5ff;
	padding:30px;
	margin-top:70px;
	color:#005097;
	display:inline-block;
	margin-bottom:50px;
}

#shah-quote h2
{
	width: 84%;
}

#shah-quote h4
{
	width: 74%;
	color: #7da2be;
	font-weight: 400;
}

#shah-quote-author
{
	color: #494949;
	font-weight: bold;
}

#shah-quote-author img
{
	float: left;
}

#shah-quote-author span
{
	font-weight: 300;
	display: block;
	margin-top: 10px;
	font-size: 12px;
}

#shah-quote-thumbnail
{
	float:right;
}

#shah-quote p
{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

#shah-main-content h1
{
	width:46%;
	padding:2%;
	text-align:center;
	font-weight:300;
	display:inline-block;
	min-width:256px;
	float:left;
}

#shah-main-content .shah-button
{
	width:30%;
	margin-right:10%;
	display:inline-block;
	float:right;
	min-width:256px;
	margin-top:60px;
}

#shah-main-content ul li p
{
	color: #535353;
}

#shah-main-content ul li img
{
	width:60%;
}

#shah-footer-wrapper
{
	background: #29313f;
	color: #697d89;
	display: inline-block;
	padding:30px 0px;
	text-align:left;
}

#shah-footer-nav
{
	padding: 0px;
	margin: 0 auto;
	color: #697d89;
	font-weight: bold;
	font-size: 12px;
	list-style: none;
	display: inline-block;
}

#shah-footer-nav li
{
	margin: 15px 0px;
}

.shah-hover li
{
	color: #697d89 !important;
	cursor:pointer;
	transition: color .2s;
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	-o-transition: color .2s; 
}

.shah-hover li:hover
{
	color:#FFF !important;
}

#shah-nav
{
	width: 110%;
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: #36aad9;
}

#shah-nav li
{
	background: #eeeeee;
	cursor: pointer;
	width: 124px;
	margin: 0px;
	float: left;
	padding: 15px 0px;
	text-align: center;
	border: 1px solid #c9c9c9;
	border-right:0px;
}

#shah-header-content-right img
{
	width:100%;
	height:400px;
}

.shah-active-nav
{
	color: #606060;
}

.shah-arrow-down 
{
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	width: 5px;
	height: 5px;
	border-bottom: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	position: absolute;
	margin-top: 13px;
	margin-left: 65px;
	display: none;
	z-index: 10;
	background: #eeeeee;
}

#shah-preload-images
{
	position:absolute;
	visibility:hidden;
	height:0px;
	width:0px;
}

#shah-social-wrapper ul
{
	padding:0px;
	margin:0px;
	list-style:none;
}

#shah-social-wrapper ul li
{
	display:inline-block;
}

#shah-copyright
{
	color: #10b0d0;
}

.shah-footer-content-wrapper
{
	width: 50%;
	display: inline-block;
	float: left;
}

.shah-footer-wrapper
{
	width:46%;
	float:left;
	margin:0 1%;
}

.shah-footer-wrapper h3
{
	margin-top:0px;
	text-transform:uppercase;
	font-size:16px;
	color: inherit;
}

.shah-feed
{
	color:#FFF;
	padding:10px 0px;
	font-size:13px;
	border-bottom:1px solid #485868;
	line-height:150%;
}

.shah-feed-time
{
	margin:0px;
	padding:0px;
	font-style:italic;
	color:#697d89;
}
