// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #8f97a5;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDark !default;


// Links
// -------------------------
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15%) !default;


// Typography
// -------------------------
$sansFontFamily:        'Proxima Nova', 'proximanova', 'Open Sans', sans-serif;
$serifFontFamily:       Georgia, sans-serif;
//$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px;
//$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        $baseFontSize*1.5;
//$altFontFamily:         $serifFontFamily !default;

//$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
//$headingsFontWeight:    bold !default;    // instead of browser default, bold
//$headingsColor:         inherit !default; // empty to use BS default, $textColor


// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #ccc !default;

$btnPrimaryBackground:              #b02147;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;

// Navbar
// -------------------------
$navbarCollapseWidth:             979px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px !default;
$navbarBackgroundHighlight:       #ffffff !default;
$navbarBackground:                #29313f;
$navbarBorder:                    darken($navbarBackground, 12%) !default;

$navbarText:                      #777 !default;
$navbarLinkColor:                 #777 !default;
$navbarLinkColorHover:            $grayDark !default;
$navbarLinkColorActive:           $gray !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;

$navbarBrandColor:                $navbarLinkColor !default;

// Inverted navbar
$navbarInverseBackground:                #29313f;
$navbarInverseBackgroundHighlight:       #222222 !default;
$navbarInverseBorder:                    #29313f;

//$navbarInverseText:                      $grayLight !default;
$navbarInverseLinkColor:                 $grayLight !default;
$navbarInverseLinkColorHover:            $white !default;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
$navbarInverseLinkBackgroundHover:       transparent !default;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
$navbarInverseSearchBackgroundFocus:     $white !default;
$navbarInverseSearchBorder:              $navbarInverseBackground !default;
$navbarInverseSearchPlaceholderColor:    #ccc !default;

$navbarInverseBrandColor:                $navbarInverseLinkColor !default;


@font-face
{
	font-family: proximanova;
	src: url('fonts/ProximaNova-Regular.otf');
}

@font-face {
	font-family: proximanova;
	src: url('fonts/ProximaNova-Light.otf');
	font-weight:100;
}

/* Mixins */
@mixin custom-button($color, $textcolor) {
  background: $color;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3), rgba(0,0,0,0.25));
  background-image:    -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(0,0,0,0.25));
  background-image:      -o-linear-gradient(top, rgba(255,255,255,0.3), rgba(0,0,0,0.25));
  background-image:         linear-gradient(to bottom, rgba(255,255,255,0.1),rgba(0,0,0,0.25));
  color: $textcolor;
  @include border-radius(30px);
}

$sansFontFamily:        'proximanova',"Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "bootstrap";
@import "bootstrap-responsive";

.container-fluid .btn-primary {
  //@include custom-button('#eb3753','#FFF');
  @include border-radius(30px);  
}
.brand{
  font-family: 'Ubuntu', sans-serif !important;
	font-size: 30px;
	float: left;
	font-style: italic;
	font-weight: 900;
	color: #FFF;
	display: inline-block;
	line-height: 20px;
	margin-top: 5px;
}


.thin {
  font-weight: 300;
}

/* Home Page Specific Rules */
#home_page {
 
  //Testimonials
  .alert {
    .author {
      .photo {
        @include border-radius(5px);
        border: 2px solid $white;
      }
      .author-meta {
        color: $black;
        .name {
          color: $black;
          font-weight: normal;
        }
      }
    }
  }
  .nav-tabs {
    border-top: 15px solid #CCC;
  }    
}

//Home Page Features - Reusable
.feature {
  h3 {
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1em;
  }
  p {
    font-weight: 300;
  }
}

// TABS
.nav-tabs {
  width: 100%;
  @include border-radius( 5px 5px 0 0);
  li {
	  text-align: center;
    a{
      background: #EEE;
      margin: 0;
      color: $linkColor !important;
      border-right-color: #CCC;
      @include border-radius(0px !important);
      &:hover {
        background: #EEE !important;
        color: $linkColorHover !important;
      }
    }
    &.active {
      > a{
        background-color: #EEE !important;
      	color: $linkColorHover !important;
        border-color: transparent;
      }
    }
  }
}

h1 { font-size: $baseFontSize * 3; line-height: $baseLineHeight * 3; } // ~38px
h2 { font-size: $baseFontSize * 2.5; line-height: $baseLineHeight * 2.5; } // ~32px
h3 { font-size: $baseFontSize * 2; line-height: $baseLineHeight * 2; } // ~24px
h4 { font-size: $baseFontSize * 1.5; line-height: $baseLineHeight * 1.5; } // ~18px
h5 { font-size: $baseFontSize; }
h6 { font-size: $baseFontSize * 0.85; line-height: $baseLineHeight * 0.85; } // ~12px
